.buttonMain {
  display: flex;
  box-shadow: 1px 1px 3px;
  border-radius: 3px;
}

.swbutton {
  flex: 1;
  height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #555555;
  background: #bbbbbb;
  width: 100px;
  cursor: pointer;
  border: 0;
}

.swbutton.left {
  border-radius: 3px 0 0 3px;
}

.swbutton.right {
  border-radius: 0 3px 3px 0;
}

.display {
  flex: 2;
  height: 40px;
  line-height: 40px;
  width: 100px;
  background: #101010;
  color: #c80000;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}
