html {
  background-color: #eeeeee;
}

.main {
  padding-top: 20px;
  padding-bottom: 15px;
}

.header {
  height: 30px;
  line-height: 30px;
  margin-bottom: 30px;
}

.header .labApps {
  display: flex;
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  color: #555555;
  font-size: 14px;
}

.header .labApps button {
  outline: 0;
  text-decoration: none;
  color: currentColor;
  padding: 0 20px;
  margin: 0 5px;
  transition: 0.1s all;
  font-style: italic;
  border: 0;
  background: transparent;
  height: 32px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 1px #f0f0f0;
  cursor: pointer;
}

.header .labApps button:focus {
  border-bottom: 2px solid #e00000;
  background: #e6e6e6;
}

.header .labApps button:hover,
.header .labApps button:active,
.header .labApps button.selected {
  border-bottom: 2px solid #e00000;
}

.osc {
  background-color: #f7f7f7;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0 0 0 2px #888, 0 0 0 11px #666, 0 0 0 13px #444, 0 0 0 17px #888,
    0 0 0 20px #cccccc;
  padding: 15px;
}

.oscShadow {
  height: 20px;
  background-color: #333;
  margin-top: -20px;
  margin-bottom: 60px;
  border-radius: 100%;
  box-shadow: 0 50px 34px #3337;
  background-color: transparent;
}

.uprising {
  box-shadow: 0 2px 3px #0006;
  border-radius: 5px;
  border: 2px solid #444444;
  display: flex;
  flex-wrap: wrap;
}

.left {
  flex: 5;
  background-color: #ddd;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #444444;
}

.right {
  flex: 4;
  padding: 5px 5px 25px;
  border-left: 1px solid #444444;
  background-color: #dddddd;
  border-radius: 0 5px 5px 0;
  position: relative;
}

.labHeader,
.labAppTitle {
  bottom: 0;
  position: absolute;
  color: #777777;
  padding: 5px 15px;
  font-size: 14px;
  text-shadow: 0 1px #ffffff;
}

.labHeader {
  text-align: right;
  right: 0;
}

.labAppTitle {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  left: 0;
}

@media (min-width: 768px) {
  .labAppTitle {
    display: none;
  }
}

@media (min-width: 992px) {
  .labAppTitle {
    display: block;
  }
}

.labInput {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
  flex-wrap: wrap;
}

.labInputColumn {
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.labInputSection {
  margin-top: 5px;
  margin-bottom: 5px;
}
